body, html {
	padding: 0;
	margin: 0;
	color: #FFE;
	font-size: 15pt;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
	background-color: #333;
	background-image: url('../images/background.jpg');
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
nav {
	width: 100%;
	display: flex;
	flex-direction: row;
}
nav a {
	flex: 1;
	background-color: #141111;
	line-height: 3em;
	color: #FFE;
	text-decoration: none;
	font-size: 100%;
	text-align: center;
	text-shadow: none;
	transition: text-shadow 150ms ease-out;
}
nav a:hover {
	text-shadow: #FFE 0 0 1em;
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	gap: 1em;
	margin-bottom: 2em;
}
main h1, main h2 {
	grid-column: 1 / -1;
}
article {
	background-color: rgba(20, 20, 20, .6);
	border-radius: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
figcaption {
	margin-top: .2em;
	font-size: 120%;
	text-align: center;
}
article table {
	background-color: rgba(200, 200, 200, .2);
	border-radius: 1em;
	padding: 1em;
}
figure img {
	border: dotted 3px #DDA;
}
h1, h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}